[submodule "AccelOpt"]
	path = AccelOpt
	url = https://github.com/zhang677/AccelOpt.git
[submodule "AccelOptStep"]
	path = AccelOptStep
	url = https://github.com/patrickmcewen/AccelOptStep.git
[submodule "KernelBench"]
	path = KernelBench
	url = https://github.com/ScalingIntelligence/KernelBench.git
[submodule "PytorchStepFlow/step_tl"]
	path = PytorchStepFlow/step_tl
	url = https://github.com/stanford-ppl/step_tl.git
[submodule "PytorchStepFlowNew/openevolve"]
	path = PytorchStepFlowNew/openevolve
	url = https://github.com/algorithmicsuperintelligence/openevolve.git
[submodule "PytorchStepFlowNew/step_tl"]
	path = PytorchStepFlowNew/step_tl
	url = https://github.com/stanford-ppl/step_tl.git
[submodule "STePTiming/step_tl"]
	path = STePTiming/step_tl
	url = https://github.com/stanford-ppl/step_tl.git
